@model PagedList.IPagedList<cms.Models.projects_fund>
@using PagedList.Mvc; 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Navigation -->
        @Html.Partial("~/Views/_vMenu.cshtml")
<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Danh sách dự án</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a href="/Projects/Create" class="fll" style="float:right;">Thêm mới</a>                            
                            <input name="name" type="text" id="name" value="@ViewBag.name" class="form-control fll"  onkeyup="searchAuto();"/>                                  
                            <button type="button" class="btn btn-default" onclick="search();">Tìm kiếm</button>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Tên dự án</th>
                                            <th>Số tiền đã huy động</th>
                                            <th>Số tiền cần huy động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr class="odd gradeX">
                                                <td>@item.name</td>
                                                <td>@String.Format("{0:#,##0}", item.money1)</td>
                                                <td>@String.Format("{0:#,##0}", item.money2)</td>
                                                <td><a href="/Projects/Edit/@item.id">Sửa</a>-<a href="/Projects/Delete/@item.id">Xóa</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
                <div class="col-lg-12">
                    <ul class="pagination clearfix">
                            <li class="disabled"><a href="#">«</a></li>
                            @for (int i = 1; i <= Model.PageCount; i++)
                            { 
                                 <text><li><a href="/news/Index?name=@ViewBag.name&page=@i">@i</a></li></text>
                            }
                    </ul>
                </div>
            </div>
            
        </div>
        <!-- /#page-wrapper -->
<script>
    function search() {
        window.location.href = "/Projects/Index?name=" + document.getElementById("name").value;
    }
</script>
