@model PagedList.IPagedList<cms.Models.projects_fund>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Thống kê dự án";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}


<div id="wrapper">
    <!-- Navigation -->
    @Html.Partial("~/Views/_vMenu.cshtml")

    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Danh sách dự án</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <h1 style="margin-top: 0;">
                    <a href="/Projects/Create" class="fll btn btn-primary">Thêm mới</a>
                </h1>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form action="/Projects/Index" class="form-inline" method="get" enctype="multipart/form-data" id="form-search">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Nhập từ khóa tìm kiếm" />
                            </div>
                            <button class="btn btn-primary">Tìm kiếm</button>
                        </form>
                    </div>
                </div>

                @if (Model != null)
                {
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>##ID</th>
                                    <th>Tên dự án</th>
                                    <th>Số tiền đã huy động</th>
                                    <th>Số tiền cần huy động</th>
                                    <th>Ngày tạo</th>
                                    <th>Ngày kết thúc</th>
                                    <td>Trạng thái</td>
                                    <td>Chức năng</td>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count > 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>#@item.id</td>
                                            <td>@item.name</td>
                                            <td>@String.Format(info, "{0:#,##} đồng.", item.money1)</td>
                                            <td>@String.Format(info, "{0:#,##} đồng.", item.money2)</td>
                                            <td>@String.Format("{0: dd/MM/yyyy}", item.date_init)</td>
                                            <td>@String.Format("{0: dd/MM/yyyy}", item.date_finish)</td>
                                            <td>
                                                @if (item.orderby == "funding")
                                                {
                                                    <span>Đang đóng góp</span>
                                                }
                                                else if (item.orderby == "completed")
                                                {
                                                    <span>Đã hoàn tất</span>
                                                }
                                                else if (@item.orderby == "needmuch")
                                                {
                                                    <span>Cần tài trợ nhiều</span>
                                                }
                                                else if (item.orderby == "goingtocompleted")
                                                {
                                                    <span>Gần đạt được</span>
                                                }
                                                else
                                                {
                                                    <span>Ngày cuối</span>
                                                }
                                            </td>
                                            <td>
                                                <a href="/projects/edit/@item.id" class="btn btn-primary">Sửa</a>
                                                <a href="/projects/delete/@item.id" class="btn btn-danger delete_project" data-id="@item.id">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    @Html.PagedListPager(Model, page => Url.Action("Index", "Project", new { pg = page, name = ViewBag.name }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                }

            </div>

        </div>
        <!-- /#page-wrapper -->
    </div>

</div>

@section scripts {

    <script>
        $(document).ready(function () {
            $('.delete_project').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var $row = $(this).closest('tr');
                reset();
                alertify.confirm("Bạn chắc chắn muốn xóa bài viết này?", function (e) {
                    if (e) {
                        $.ajax({
                            url: '/projects/delete',
                            data: { id: id },
                            method: "POST",
                            dataType: "json",
                            success: function (data) {
                                if (data) {
                                    if (data == "1") {
                                        $row.remove();
                                        alertify.success("Bạn đã xóa bài viết thành công.");
                                    }
                                }
                            },
                            error: function () {
                                toastr.warning('Máy chủ quá tải, vui lòng thử lại sau!');
                            }
                        })

                    } else {
                        alertify.error("Bạn đã hủy xóa");
                    }
                });
                return false;
            })
        })

    </script>
}